@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@keyframes pulse {
    0% {
        background-color: #3e086d;
    }

    25% {
        background-color: #7d2591;
    }

    50% {
        background-color: #5c107f;
    }

    75% {
        background-color: #7d2591;
    }

    100% {
        background-color: #3e086d;
    }
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-color: #3e086d;
}

body {
    color: #dcdcdc;
    background-color: #1e1e1e;
}

li {
    list-style-position: inside;
}

.app {
    display: flex;
}

::selection {
    background: #5c5a5e;
}

button {
    font-size: 100%;
    font-weight: 300;
    min-width: 35px;
    height: 35px;
    color: #a8a3a9;
    background: none;
    border: none;
    border-radius: 3px;
    padding: 0 5px;
    cursor: pointer;
}

button:hover {
    color: #9e9ca2;
    background-color: #39333f;
}

button:active {
    color: #ffffff;
    background-color: #454148;
}

.hide-button {
    display: none;
    background-image: url("./images/x-red.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.hide-button:active {
    background-image: url("./images/x-white.png");
}

.download-button {
    position: absolute;
    right: 5px;
    background-image: url("./images/download-gray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.download-button:active {
    background-image: url("./images/download-white.png");
}

.new-button {
    background-image: url("./images/new-gray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.new-button:active {
    background-image: url("./images/new-white.png");
}

.delete-button {
    background-image: url("./images/trash-gray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.delete-button:active {
    background-image: url("./images/trash-white.png");
}

.removeformat-button {
    background-image: url("./images/tx-gray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.removeformat-button:active {
    background-image: url("./images/tx-white.png");
}

.numbered-button {
    background-image: url("./images/number-gray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.numbered-button:active {
    background-image: url("./images/number-white.png");
}

.bullet-button {
    background-image: url("./images/bullet-gray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.bullet-button:active {
    background-image: url("./images/bullet-white.png");
}

.undo-button {
    background-image: url("./images/undo-gray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.undo-button:active {
    background-image: url("./images/undo-white.png");
}

.redo-button {
    background-image: url("./images/redo-gray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.redo-button:active {
    background-image: url("./images/redo-white.png");
}

.side-menu {
    width: 20%;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    background-color: #201a27;
    height: 100vh;
    border-right: 1px solid rgb(20, 20, 20);
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    height: 5%;
    min-height: 50px;
    border-bottom: 1px solid rgb(20, 20, 20);
}

.allnotes-container {
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}

.empty-list-message {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #5c5a5e;
}

.note-card {
    width: 95%;
    min-width: 200px;
    min-height: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin: 3px 0;
    border-radius: 0;
}

.note-card-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
    cursor: default;
    user-select: none;
}

.note-card-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.note-card:not(:last-of-type) {
    border-bottom: 1px solid #37333e;
}


.note-card-title {
    font-size: 14px;
    font-weight: 500;
}

.note-card-description,
.note-card-title {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.note-card-date {
    font-size: 12px;
    color: #a8a3a9;
    font-weight: 300;
}

.note-card-description {
    font-size: 12px;
    font-weight: 200;
    color: #7a7a7a;
    height: 16px;
}

.activeNote {
    background-color: #3e086d;
    animation: pulse 600s infinite;
    border-radius: 10px;
    border-bottom: none;
}

.activeNote:not(:last-of-type) {
    border-bottom: 1px solid #3e086d;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
}

.toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 5px;
    height: 5%;
    min-height: 50px;
    border-bottom: 1px solid rgb(20, 20, 20);
    padding: 5px;
}

.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    font-size: 12px;
    font-weight: 300;
    color: #adadad;

}

.notepad-container {
    height: 95%;
    padding: 0 20px;
}

.titleArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    outline: none;
    width: 100%;
    height: 10%;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.titleArea:focus {
    overflow: scroll;
    cursor: text;
}

.textArea {
    width: 100%;
    height: 85%;
    outline: none;
    padding: 5px;
    overflow: scroll;
}

img {
    max-width: 100%;
}

.disabledArea {
    pointer-events: none;
}

.disabledArea>button {
    color: #5c5a5e;
}

.disabledArea>.removeformat-button {
    background-image: url("./images/tx-darkgray.png");
}

.disabledArea>.numbered-button {
    background-image: url("./images/number-darkgray.png");
}

.disabledArea>.bullet-button {
    background-image: url("./images/bullet-darkgray.png");
}

.disabledArea>.undo-button {
    background-image: url("./images/undo-darkgray.png");
}

.disabledArea>.redo-button {
    background-image: url("./images/redo-darkgray.png");
}

.hidden {
    display: none;
}

@media screen and (max-width: 900px) {
    .app {
        height: 100vh;
    }

    .side-menu {
        width: 100%;
    }

    .right-side {
        display: none;
        width: 100%;
        height: 100%;
    }

    .exit-button {
        display: block;
    }

    .toolbar {
        width: 100%;
        justify-content: space-between;
        position: fixed;
        background-color: #1e1e1e;
        overflow: scroll;
    }

    .notepad-container {
        height: 100%;
        margin-top: 50px;
        overflow: scroll;
    }

    .titleArea {
        width: 100%;
        overflow: scroll;
    }

    .textArea {
        overflow: visible;
    }

    .hide-button {
        display: block;
    }

    .download-button {
        position: static;
    }
}